<form class="login">
    <div class="row no-marg">
        <div class="col-lg-5 col-xs-12 no-pad">
            <div class="col-xs-5 no-pad text-right">
                <label for="loginName" style="left: -10px;">Benutzername:</label>
            </div>
            <div class="col-xs-7 no-pad">
                <div class="shape-cont">
                    <div class="shape"></div>
                    <input id="loginName" type="text">
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xs-12 no-pad">
            <div class="col-xs-5 text-right">
                <label for="login-pass">Passwort:</label>
            </div>
            <div class="col-xs-7 no-pad">
                <div class="shape-cont">
                    <div class="shape"></div>
                    <input id="login-pass" type="text">
                </div>
            </div>

        </div>
        <div class="col-lg-2 col-xs-12">
            <input type="submit" value="Login" />
        </div>
    </div>
    <div class="row no-marg">
        <div class="col-lg-5 col-xs-12 no-pad">
            <input id="remAccess" type="checkbox"/><label for="remAccess">Zugang merken</label>
        </div>
        <div class="col-lg-5 col-xs-12 no-pad">
            <a href="#" ui-sref="forgot">Passwort vergessen?</a>
        </div>
    </div>
</form>