<div ng-controller="registrController as vm">
    <app-header logo="true"></app-header>
    <main>
        <div class="divider"></div>
        <div class="container">
            <div class="text-center">
                <h1><strong>Login für Benutzer!</strong></h1>
                <h2>Bitte logge Dich erst ein, um die gewünschte Seite zu nutzen.</h2>
                <login-form></login-form>
                <h1><strong>Noch kein Mitglied? Jetzt kostenlos anmelden!</strong></h1>
                <register-form></register-form>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>
